name: Kids Need to Read
url: http://www.kidsneedtoread.org/
address: """2450 West Broadway Road, Suite 110  
Mesa, Arizona 85202"""
phone: 480-256-0115
leadership: [denise-gary]
links: [
  http://www.guidestar.org/organizations/26-2755631/kids-need-read.aspx
  https://www.facebook.com/kidsneedtoread
  https://twitter.com/kidsneedtoread
  http://www.volunteermatch.org/search/org745813.jsp
]
ein: 26-2755631
ntee: O01
founded: 2008
